<div class="cart">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Carrinho de Compras</mat-card-title>
      <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <!-- <div mat-subheader>Itens no carrinho</div> -->
        <mat-list-item *ngFor="let item of itemsInCart; let i = index;">
          <img mat-list-icon src="{{item.details.sprites.front_default}}">
          <div mat-line>{{item.name}}</div>
          <div mat-line>R$ {{item.details.weight}},00 </div>
          <button mat-icon-button (click)="deleteFromCart(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-list-item>

        <mat-list-item>
          <div mat-line>Total</div>
          <div mat-line>R${{cartPrice}},00</div>
        </mat-list-item>
      </mat-list>
    </mat-card-content>

    <mat-card-actions>
      <button mat-button color="warn" (click)="clearCart()">LIMPAR</button>
      <button mat-raised-button color="primary">FINALIZAR</button>
    </mat-card-actions>
  </mat-card>
</div>