<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Pokemon Store</span>
    <span class="spacer"></span>

    <div fxShow="false" fxShow.gt-sm="true">

      <button mat-flat-button color="primary">Primary</button>

    </div>

    <div fxShow="true" fxHide.gt-sm="true">
      <button mat-icon-button color="white" aria-label="Toggle sidenav button">
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
      </button>
    </div>

  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <app-menu></app-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <div>
      <router-outlet></router-outlet>
      <!-- <app-pokemon-list></app-pokemon-list> -->
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>