<div class="wrapper">
  <div class="content">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span>Pokemon Store</span>
        <span class="spacer"></span>

        <div fxShow="false" fxShow.gt-sm="true" class="menu-list">

          <button mat-button routerLink="/">PokeStore</button>
          <button mat-button routerLink="/about">Sobre</button>
          <a href="https://www.linkedin.com/in/yandiro/" target="_blank" mat-button>Contato</a>
        </div>

        <div fxShow="true" fxHide.gt-sm="true">
          <button mat-icon-button color="white" aria-label="Toggle sidenav button" matBadge="8" matBadgePosition="before" matBadgeColor="accent">
            <mat-icon>shopping_cart</mat-icon>
          </button>

          <button mat-icon-button color="white" aria-label="Toggle sidenav button">
            <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
          </button>
        </div>

      </mat-toolbar-row>
    </mat-toolbar>

    <mat-sidenav-container>
      <mat-sidenav #sidenav>
        <app-menu></app-menu>
      </mat-sidenav>
      <mat-sidenav-content>
        <div>
          <router-outlet></router-outlet>
          <!-- <app-pokemon-list></app-pokemon-list> -->
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>