.spacer {
  flex: 1 1 auto;
}

mat-sidenav {
  width: 250px;
}

@media (max-width: 599px) {
  mat-sidenav-container,
  mat-sidenav-content,
  mat-sidenav {
    height: calc(100vh - 56px);
  }
}

@media (min-width: 600px) {
  mat-sidenav-container,
  mat-sidenav-content,
  mat-sidenav {
    height: calc(100vh - 64px);
  }
}
